<h1> Welcome to CSE Motors!</h1>
<%- messages() %>

<!-- Hero Image Section -->
<section class="hero">
    <img src="images/vehicles/delorean.jpg" alt="Dolorean" class="hero-image" loading="lazy">
    <div class="cta">
        <h3>DMC Delorean</h3>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <a href="" class="cta-button">Own Today</a>
    </div>
</section>

<div class="main-container">

<!-- Dolorean Upgrades Section -->
 <section class="delorean-upgrades-container">
    <h2>Delorean Upgrades</h2>
    <div class="delorean-upgrades-card">
        <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor" loading="lazy">
        <p>Flux Capacitor</p>
    </div>
    <div class="delorean-upgrades-card">
        <img src="images/upgrades/flame.jpg" alt="Flame Decals" loading="lazy">
        <p>Flame Decals</p>
    </div>
    <div class="delorean-upgrades-card">
        <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" loading="lazy">
        <p>Bumper Stickers</p>
    </div>
    <div class="delorean-upgrades-card">
        <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps" loading="lazy">
        <p>Hub Caps</p>
    </div>
</section>

<!-- DMC Delorean Reviews Section -->
<section class="delorean-reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
    </section>
    </div>
    